.input1{
    width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;

}


.textArea1{
    display: block;
    width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	
}

.btn-primary{
    display: block;
    background-color: #000000;
    color: white;
    text-decoration-color: white;
    height: 30px;
    width: 60px;
}

.btn-primary:disabled{
    display: block;
    background-color:#0000;
    color: #000000;
    height: 30px;
    width: 60px;

}

.text-check{
    display: flex;
}

.checkBox1{
    display: inline-block;
}


